body {
    background-color: #181818;
}
h1, p {
    font-family: 'Manrope', sans-serif;
    color: #cacaca;
    font-size: 40px;
    padding-top: 70px;
    
}
.rectangle {
    height: 800px;
    max-height: 100%;
    width: 500px;
    max-width: 100%;
    background-color: #090318;
    border-radius: 40px;
    box-shadow: 0 10px 25px -15px #a33030;
    padding-top: 40px;
    position: relative;
}
